    <nav class="navbar">
        <div class="navbar-brand">
            <div class="navbar-burger burger" data-target="navMenuColorwhite-example">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>

        <div id="navMenuColorwhite-example" class="navbar-menu">
            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="field is-grouped">
                        <p class="control">
                        <div class="navbar-item has-dropdown is-hoverable">
                            <a class="navbar-link" href="https://bulma.io/documentation/overview/start/">
                                Language
                            </a>
                            <div class="navbar-dropdown">
                                <a class="navbar-item" href="https://bulma.io/documentation/overview/start/">
                                    En
                                </a>
                                <a class="navbar-item" href="https://bulma.io/documentation/modifiers/syntax/">
                                    Fr
                                </a>
                                <a class="navbar-item" href="https://bulma.io/documentation/modifiers/syntax/">
                                    Russian
                                </a>
                            </div>
                        </div>
                        </p>
                        <p class="control">
                            <a class="button is-primary"
                               href="#">
                            <span class="icon">
                                <i class="fas fa-sign-in-alt"></i>
                            </span>
                                <span>Login</span>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </nav>